@import '../../main.scss';
@import '../../animations.scss';

#about-me {
    background-color: $background-color-secondary;
    box-shadow: inset 0px 9px 20px rgba(0, 0, 0, 0.25);
}

#about-me-container {
    padding: 56px 0 74px 0;
    display: grid;
    justify-content: center;
    justify-items: center;
}

#about-me-title > h2 {
    font-size: 11ch;
}

#about-me-content {
    display: flex;

    .about-me-content-image-box {
        background-color: $text-color-primary;
        padding: 18px;
        border-radius: 5px;
        position: relative;
        margin: 20px 0px;
        height: fit-content;

        img {
            border-radius: 5px;
            object-fit: contain;
        }
    }
    .about-me-content-info-box {
        background-color: #282E3D;
        border-radius: 5px;
        padding: 11px 36px 36px 53px;
        max-width: 500px;
        height: 638px;
        
        .about-me-content-info {
            height: 100%;
            h4 {
                font-size: 7ch;
                line-height: 2.5ch;
            }
            .about-me-content-info-text {
                height: 80%;
                p {
                    font-size: 2.25ch;
                    margin-bottom: 5px;
                }
            }
            .about-me-content-info-buttons-container {
                display: flex;
                gap: 10px;
                button:active {
                    color: #282E3D;
                }
            }
        }
    }
}

@media screen and (min-width: $layout-tablet-start) {
    #about-me-content {
        flex-direction: row;
        .about-me-content-image-box {
            left: 34px;
            height: 600px;
            img {
            }
        }
        .about-me-content-info-box {
            .about-me-content-info {
            }
        }
    }
}
@media (max-width: $layout-tablet-start) and (min-width: $layout-mobile-start) {
    #about-me-content {
        flex-direction: column;
        .about-me-content-image-box {
            height: 600px;
            width: 482.422px;
            img {
            }
        }
        .about-me-content-info-box {
            .about-me-content-info {
            }
        }
    }

}
@media (max-width: $layout-mobile-start) {

}