@import '../../main.scss';

#navbar {
    position: fixed;
    z-index: 100;
    width: 100vw;
}
#navbar-container {
    padding: 10px 30px 5px;
    display: flex;
}
#navbar-logo-container {
    width: 20%;
}
#navbar-links-container {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    gap: 50px;
    font-size: 2.15ch;
    .navbar-link {
        cursor: pointer;
        transition: 250ms ease-in-out;
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
        }
        &:hover, a:hover {
            color: $accent-color;
            transition: 250ms ease-in-out;
        }
    }
}
.nav-background-hidden {
    background-color: transparent;
    transition: background-color 0.15s, box-shadow 0.15s;
}
.nav-background-shown {
    background-color: $background-color;
    transition: background-color 0.15s, box-shadow 0.15s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}