$layout-tablet-start: 1126px;
$layout-mobile-start: 480px;
$background-color: #2D3142;
$background-color-secondary: #3B4357;
$text-color-primary: #ffffff;
$text-color-secondary: #BFC0C0;
$accent-color: #EF8254;